//====================================================================================================
.footer {
    background: #20262C;
    padding-top: 52px;
    padding-bottom: 72px;
}

.footer__contacts {
    flex: 0 1 25%;
    padding: 0 8px;
}

.footer__contacts-text {
    opacity: 0.5;
    margin-top: 12px;
    color: #fff;
    margin-bottom: 15px;
}

.footer__list {
    padding: 0 8px;

    .footer__item:not(:last-child) {
        margin-bottom: 22px;
    }

    &:nth-child(1) {
        flex: 0 1 16.6667%;
    }

    &:nth-child(2) {
        flex: 0 1 25%;
    }
}

.footer__item-link {
    color: var(--white-color);
    opacity: 0.5;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    &:hover {
        opacity: 1;
    }
}

.footer__row {
    display: flex;
    margin: 0 -8px;
}

.footer__search {
    svg {
        fill: transparent;
        stroke: #20262C;
    }
}

.footer__social-list {
    display: flex;
    margin-top: 24px;
    margin-bottom: 32px;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;

    .footer__social-item:not(:last-child) {
        margin-right: 12px;
    }
}

.footer__social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 0.7;
    }
}

.footer__info a {
    color: var(--white-color);
    opacity: .5;
}

.footer__social-link-telegram {
    svg {
        width: 27px;
        height: 22px;
        position: relative;
        right: 3px;
    }
}

.footer__social-link-instagram {
    svg {
        width: 27px;
        height: 22px;
    }
}

.footer__search-and-social {
    flex: 0 1 33.333%;
    padding: 0 8px;
}

.footer__social-link-youtube {
    svg {
        width: 27px;
        height: 27px;
    }
}

.footer__social-link-facebook {
    svg {
        width: 14px;
        height: 28px;
    }
}

.footer__social-link-vk {
    svg {
        width: 28px;
        height: 16px;
    }
}

.footer__can-buy {
    margin-top: 23px;
}

.footer__contacts-email {
    margin-top: 25px;
}

//====================================================================================================